// justify-content: center; for mobile

.navigation-bar {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;
  .logo {
    height: 2em;
    width: 14em;
    padding: 10px;
    @include media('<=tablet', '<=phone') {
      align-items: center;
    }
  }
  .nav-links {
    padding: 0px 20px;
    float: right;
    a {
      padding: 00px 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      font-size: 14px;
      @include media('<=tablet', '<=phone') {
        display: none;
      }
    }
  }
  button {
    color: #2e7bb9;
    background-color: rgb(224, 239, 243);
    border: none;
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 2%;
  }
}
